[core]
    editor = $GIT_EDITOR
[difftool]
    prompt = true
[diff]
    tool = vim
[difftool "vim"]
    cmd = "$EDITOR -d \"$LOCAL\" \"$REMOTE\""
[user]
    name = Carlo Gravador
    email = cce.gravador@gmail.com
[pager]
    branch = false
[merge]
    tool = vim
[mergetool]
    keepBackup = false
[mergetool "vim"]
    cmd = $EDITOR -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
