[core]
    editor = vim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "vim -d \"$LOCAL\" \"$REMOTE\""
[user]
    name = Carlo Gravador
    email = cce.gravador@gmail.com
[pager]
    branch = false
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    cmd = vim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
